<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Submit images as answers to the quesitons asked below.</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="questionID">{{questionIDtext}}</label>
            {{!-- where text is the current quesiton --}}
            <input type="text" id="questionID" class="form-control" aria-describedby="questionID" placeholder="Upload Image here">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit Image Answer</button>
        </form>
        <h3>Temporary Visual Representation of our database answers:</h3>
        <ul id="answers-list" class="list-group">
          {{#each answers}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="answers/{{this.id}}">{{this.answer}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
